@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;600;900&family=Rampart+One&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--golos-text);
  background: var(--body);
  /* margin: var(--radius-1) auto; */
  min-width: 350px;
  transition: all 1s;
  /* overflow: hidden;
  transform: translate(-100%); */
}
.vp-full {
  height: 100vh;
}
:root {
  --bg-trans: #26262678;
  --trans-text: #ffffff;
  --window-size: 100%;
  --size: 1.5rem;
  --pale-blue: #395b64;
  --golos-text: "Golos Text", sans-serif;
  --shadow-1: rgba(0, 0, 0, 0.295) 0px 3px 8px;
  --shadow-2: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  --flex-max: 100%;
  --flex-min: 100%;
  --flex-width: 100%;
  --hide-lg: 2rem;
  --body: #2c3333;
  --main: #a5c9ca;
  --white: #fff;
  --form-bg: #e7f6f2;
  --danger: red;
}

@media only screen and (min-width: 576px) {
  :root {
    --window-size: 100%;
    --flex-width: 40%;
    --new-size: 2.5rem;
    --bg-trans: #2626261e;
    --trans-text: #2c3333;
  }
}
@media only screen and (min-width: 768px) {
  :root {
    --hide-lg: 1rem;
    --window-size: 100%;
  }
}
@media only screen and (min-width: 992px) {
  :root {
    --window-size: 100%;
    --flex-max: 70%;
    --flex-min: 30%;
    --radius-1: 1rem;
  }
}
@media only screen and (min-width: 1200px) {
  :root {
    --window-size: 100%;
  }
}
@media only screen and (min-width: 1400px) {
  :root {
    --window-size: 1400px;
  }
}
.container {
  min-width: 350px;
  width: var(--window-size);
  margin: auto;
  border-radius: var(--radius-1);
  overflow: hidden;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

/* greeting section styles  */
.greet {
  width: var(--flex-min);
  position: relative;
}
:where(img) {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.greet-img {
  height: 100%;
}
.greeting {
  position: absolute;
  top: 25%;
  background: var(--bg-trans);
  width: 100%;
  padding: 2.5rem;
  text-align: center;
  color: var(--trans-text);
  /* font-weight: 600; */
  font-family: "Rampart One", cursive;
  font-size: var(--size);
}

/* main section styles */
.main {
  width: var(--flex-max);
  background-color: var(--main);
}
.main > div p:first-of-type {
  font-weight: 600;
  margin-bottom: 1rem;
}
.main > div:first-child {
  padding: var(--size);
}
.form-container {
  background: var(--main);
  /* padding: var(--size); */
}
.form-container > p {
  padding-left: var(--size);
}

#btn {
  margin-top: 2rem;
  background: var(--pale-blue);
  padding: 0.825rem 2rem;
  border: none;
  border-radius: 0.5rem;
  color: var(--white);
  margin-bottom: 2rem;
  margin-left: var(--size);
  cursor: pointer;
}
#btn:active {
  background-color: #22363c;
}
.form-content:last-of-type {
  padding-bottom: 2rem;
}
.form-content:last-of-type > div:last-child {
  margin-top: var(--hide-lg);
}

input {
  border: 1px solid rgb(222, 222, 222);
  padding: 0.625rem;
  border-radius: 5px;
  width: 100%;
  outline: transparent;
  transition: border 0.5s, box-shadow 0.5s;
  margin-top: 5px;
}

input:focus {
  border-color: rgb(61, 64, 225);
  box-shadow: var(--shadow-1);
}
.form-content > div {
  width: var(--flex-width);
  margin-right: var(--new-size);
  margin-top: 1rem;
}

.color {
  background: var(--form-bg);
  padding: var(--size);
  box-shadow: var(--shadow-2);
}

/*  */
.error {
  position: relative;
}
.error::after {
  color: var(--danger);
  content: "*Passwords do not match";
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 5px;
}
input.invalid-border {
  border-color: var(--danger);
}

a {
  color: var(--pale-blue);
}

/* success message */
.success {
  text-align: center;
  position: absolute;
  background: rgba(56, 56, 56, 0.588);
  width: 100%;
  height: 100vh;
  top: 0;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 1s;
}
.success > p {
  transition: all 1s;
  color: #a7edf3;
  padding: 2rem;
  background: #131a20;
  border: 1rem double #204051;
  background-clip: padding-box;
}
