@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;600;900&display=swap');

*{
    padding: 0;
    margin: 0 ;
    box-sizing: border-box;
}
body{
    font-family: var(--golos-text);
}
/* .h-space{
    justify-content: space-between;
} */
:root{
    --window-size: 100%;
    --size: 1.5rem;
    --dark-olive:#596D48;
    --golos-text: 'Golos Text', sans-serif;
    --shadow-1: rgba(0, 0, 0, 0.232) 0px 3px 8px;
    --shadow-2:rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

@media only screen and (min-width: 576px) {
    :root{
        --window-size: 100%;
    }
}
@media only screen and (min-width: 768px) {
    :root{
        --window-size: 720px;
    }
}
@media only screen and (min-width: 992px) {
    :root{
        --window-size: 960px;
    }
}
@media only screen and (min-width: 1200px) {
    :root{
        --window-size: 1140px;
    }
}
@media only screen and (min-width: 1400px) {
    :root{
        --window-size: 1400px;
    }
}
.container{
    min-width: 375px;
    width: var(--window-size);
    /* max-width: 1400px; */
    /* background: olive; */
    margin: auto;
}
.row{
    display: flex;;
    flex-wrap: wrap;
}

/* greeting section styles  */
.greet{
    width: 30%;
    position: relative;
}
:where(img){
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.greet-img{
    height: 100%;;
}
.greeting{
    position : absolute;
    top: 0;
}

/* main section styles */
.main{
    width: 70%;
    /* padding: 1.5rem; */
}

.main > div:first-child{
    /* background: rebeccapurple; */
    padding: var(--size)
}
.form-container{
    background: #fff;
    /* padding: var(--size); */
}
.form-container > p {
    padding-left: var(--size)
}

#btn{
    margin-top: 2rem;
    background: var(--dark-olive);
    padding: .825rem 2rem;
    border: none;
    border-radius:.5rem;
    color: #fff;
    margin-bottom: 2rem;
    margin-left: var(--size);
}
#btn:active{
    background-color: rgb(75, 99, 28);
}
.form-content:last-of-type{
    padding-bottom: 2rem;;
}



input{
    border:1px solid  rgb(222, 222, 222);
    padding: .625rem;
    border-radius: 5px;
    width: 100%;
    outline: transparent;
    transition: border .5s , box-shadow .5s;
    margin-top: 5px;
}

input:focus{
    border-color: rgb(61, 64, 225) ;
    box-shadow: var(--shadow-1);
}
.form-content > div{
    width: 40%;
    margin-right: 3rem;
}

.form-content > div{
    margin-top: 1.3rem;
}

input:invalid :has(::after){
    content: "wrong";
}

.color{
    background: rgb(222, 222, 222);
    padding: var(--size);
    box-shadow: var(--shadow-2);
}

/*  */
.error{
    position : relative;
}
.error::after{
    color: red ;
    content: "*Passwords do not match";
    position : absolute;
    top: 100%;
    left: 0;
    margin-top: 5px;;
}
input.invalid-border{
    border-color: red ;
}